In [1]:
import pandas as pd

## Making Pokemon column as index column but at the back of python it is still starts from 0

In [2]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon", squeeze= True)
pokemon

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [3]:
pokemon.sort_index(inplace= True)
pokemon.head(5)

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
Name: Type, dtype: object

## Get method

In [4]:
pokemon.get(key = "Pikachu") ## only works when key is provided, does not work with value

'Electric'

In [5]:
pokemon.get(key = ["Hoopa", "Pikachu"]) ## also work for multiple keys provided into list

Pokemon
Hoopa       Psychic
Pikachu    Electric
Name: Type, dtype: object

In [6]:
pokemon.get(key = "Rupen") ## for false key, it gives nothing

In [7]:
## better way is
pokemon.get(key = "upem", default= "This is not a pokemon")

'This is not a pokemon'

In [8]:
pokemon.get(key = ["Hoopa", "Rupen"], default= "This is not a pokemon")

'This is not a pokemon'

## math functions

In [12]:
import pandas as pd
google = pd.read_csv("google_stock_price.csv", squeeze= True)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [14]:
google.count()

3012

In [15]:
len(google)

3012

In [ ]:
## the difference between count and len is count gives a number only for the raws which have data (NaN will not be count)
## whereas len counts all the raws ##

In [16]:
google.sum()

1006942.0

In [17]:
google.mean()

334.31009296148744

In [18]:
google.max()

782.22

In [20]:
google.min()

49.95

In [22]:
google.std()

173.18720477113106

In [24]:
google.median()

283.315

In [25]:
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

In [26]:
google.idxmax() ## idx= index

3011

In [27]:
google.idxmin()

11

In [29]:
google[3011]

782.22

In [30]:
google[11]

49.95

In [36]:
pokemon = pd.read_csv("pokemon.csv")
pokemon

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [38]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon", squeeze= True)
pokemon

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [34]:
pokemon.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Psychic      47
Fire         47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ice          23
Ghost        23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

## apply method

In [3]:
import pandas as pd
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon", squeeze= True)
pokemon

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [17]:
## we use this method when we want to perform same operation on each value of a series

def pokemon_type(name):
    return type(name) == str

pokemon.apply(pokemon_type).tail(5)

Pokemon
Yveltal      True
Zygarde      True
Diancie      True
Hoopa        True
Volcanion    True
Name: Type, dtype: bool

## .map() method

In [35]:
## used when we want to map two different data of series from same or different file

import pandas as pd

pokemon_names = pd.read_csv("Pokemon.csv", usecols=["Pokemon"], squeeze= True)
pokemon_types = pd.read_csv("Pokemon.csv", index_col="Pokemon", squeeze =True)

In [36]:
pokemon_names.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [37]:
pokemon_types.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [40]:
pokemon_names.map(pokemon_types).tail()

716       Dark
717     Dragon
718       Rock
719    Psychic
720       Fire
Name: Pokemon, dtype: object