In [31]:
import pandas as pd

In [32]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"])

In [33]:
bigmac.head(3)

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35

In [34]:
bigmac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 652 non-null    datetime64[ns]
 1   Country              652 non-null    object
 2   Price in US Dollars  652 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 15.4+ KB

In [35]:
bigmac.set_index(["Date","Country"], inplace = True)

In [44]:
bigmac.sort_index(inplace = True)

In [45]:
type(bigmac.index)

pandas.core.indexes.multi.MultiIndex

In [46]:
## it says multiIndex not just index because we have two indexes

In [47]:
## also,

bigmac.index[0]

## the index itself is tuple of both date and country not just the one

(Timestamp('2010-01-01 00:00:00'), 'Argentina')

In [48]:
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [54]:
## to accsess only one of the  index

bigmac.index.get_level_values("Date")

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

In [55]:
## if we want to change one of the index name

## write all of them but change what you want to change, its a good practice

bigmac.index.set_names(["Date", "Location"], inplace = True)

In [56]:
bigmac.head(3)

                      Price in US Dollars
Date       Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

## .loc[] method for multiple index

In [61]:
bigmac.loc[("2010-01-01"), "Price in US Dollars"]

## pass touple as multiple index
## after coma its column name

Date        Location
2010-01-01  Argentina         1.84
            Australia         3.98
            Brazil            4.76
            Britain           3.67
            Canada            3.97
            Chile             3.18
            China             1.83
            Colombia          3.91
            Costa Rica        3.52
            Czech Republic    3.71
            Denmark           5.99
            Egypt             2.38
            Euro area         4.84
            Hong Kong         1.91
            Hungary           3.86
            Indonesia         2.24
            Israel            3.99
            Japan             3.50
            Latvia            3.09
            Lithuania         2.87
            Malaysia          2.08
            Mexico            2.50
            New Zealand       3.61
            Norway            7.02
            Pakistan          2.42
            Peru              2.81
            Philippines       2.21
            Poland            2.86
            Russia            2.34
            Saudi Arabia      2.67
            Singapore         3.19
            South Africa      2.46
            South Korea       2.98
            Sri Lanka         1.83
            Sweden            5.51
            Switzerland       6.30
            Taiwan            2.36
            Thailand          2.11
            Turkey            3.83
            UAE               2.99
            Ukraine           1.83
            United States     3.58
            Uruguay           3.32
Name: Price in US Dollars, dtype: float64

In [62]:
bigmac.loc[("2010-01-01", "Brazil"), "Price in US Dollars"]

Date        Location
2010-01-01  Brazil      4.76
Name: Price in US Dollars, dtype: float64

## .swaplevel()

In [63]:
## here level meaning different index

In [64]:
bigmac = bigmac.swaplevel()

In [65]:
bigmac.head(3)

                      Price in US Dollars
Location  Date
Argentina 2010-01-01                 1.84
Australia 2010-01-01                 3.98
Brazil    2010-01-01                 4.76